@{
    ViewData["Title"] = "Home Page";
    // var products = ViewData["Items"] as List<Item>;
    var products = ViewBag.items;
    var categories = ViewBag.categories;
}

@await Html.PartialAsync("_partials/_heroComponent")


<!-- Featured Products Section -->
<section class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Featured Auctions</h2>
        <div class="row">
            @foreach (var item in products)
            {
                @Html.Partial("_partials/_ItemCard",(Item)item)
            }
        </div>
    </div>
</section>


<!-- Categories Section -->
<section class="bg-light py-5">
    <div class="container">
        <h2 class="text-center mb-4">Browse Categories</h2>
        <div class="row">
            @foreach (var category in categories)
            {
                @Html.Partial("_partials/_CategoryCard",(Category)category)
            }
        </div>
    </div>
</section>